# me

node_modules/
.vscode/*

# for vue

vue/.DS_Store
vue/node_modules/
vue/dist/
vue/npm-debug.log*
vue/yarn-debug.log*
vue/yarn-error.log*
vue/test/unit/coverage

# Editor directories and files
vue/.idea
vue/*.suo
vue/*.ntvs*
vue/*.njsproj
vue/*.sln

# for angular4

angular4/dist
angular4/tmp
angular4/out-tsc

# dependencies
vue/node_modules

# IDEs and editors
angular4/.idea
angular4/.project
angular4/.classpath
angular4/.c9/
angular4/*.launch
angular4/.settings/
angular4/*.sublime-workspace

# IDE - VSCode
angular4/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
angular4/.sass-cache
angular4/connect.lock
angular4/coverage
angular4/libpeerconnection.log
angular4/vuenpm-debug.log
angular4/vuetestem.log
angular4/typings
angular4/vueyarn-error.log

# e2e
angular4/e2e/*.js
angular4/e2e/*.map

# System Files
angular4/.DS_Store
angular4/Thumbs.db